name: Deploy to Cognito Lambdas

on:
  workflow_dispatch: {}
  push:
    branches: ["main"]
    paths:
      - "src/cognito/__init__.py"

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "pip"

      - name: Build source code using setup tools
        run: |
          python -m pip install --upgrade pip
          pip install poetry

          poetry self add poetry-plugin-export
          poetry export -f requirements.txt -o requirements.txt --without-hashes

          mkdir build

          pip install -r requirements.txt -t build

          cp -r src build/

          zip -q -r build/cognito-lambdas.zip build/*

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: cognito-lambdas
          path: build/cognito-lambdas.zip

  deploy:
    needs: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment: [production]
        lambda: [pre-sign-up-trigger]

    environment: ${{ matrix.environment }}

    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Download artifact
        uses: actions/download-artifact@v7
        with:
          name: cognito-lambdas

      - name: Unzip artifact
        run: unzip cognito-lambdas.zip -d build

      - name: Generate handler name
        run: |
          # Replace hyphens with underscores for valid Python module names
          matrix_lambda=${{ matrix.lambda }}
          matrix_lambda_safe=${matrix_lambda//-/_}
          echo "LAMBDA_HANDLER_NAME=src.cognito.${matrix_lambda_safe}.lambda_handler" >> $GITHUB_ENV

      - name: Deploy Lambda Function
        uses: aws-actions/aws-lambda-deploy@v1.1.0
        with:
          function-name: cognito-${{ matrix.lambda }}
          code-artifacts-dir: build
          s3-bucket: ${{ secrets.AWS_S3_BUCKET }}
          s3-key: "${{ github.event.repository.name }}/${{ matrix.environment }}/cognito-${{ matrix.lambda }}.zip"
          publish: true
          handler: ${{ env.LAMBDA_HANDLER_NAME }}
          runtime: python3.13
