name: Deploy Bus Processor

on:
  workflow_dispatch: {}
  push:
    branches: ["main"]
    paths:
      - "src/controllers/bus_processor.py"

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install poetry
        run: pipx install poetry

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "pip"

      - name: Build source code using setup tools
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global url."https://git:${GITHUB_TOKEN}@github.com/vflopes/".insteadOf "ssh://git@github.com/vflopes/"

          poetry env use 3.13
          poetry self add poetry-plugin-export
          poetry export -f requirements.txt -o requirements.txt --without-hashes

          mkdir build

          pip install -r requirements.txt -t build

          cp -r src build/

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: cognito-lambdas
          path: build/

  deploy:
    needs: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment: [production]
        lambda: [bus-processor]

    environment: ${{ matrix.environment }}

    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Download artifact
        uses: actions/download-artifact@v7
        with:
          name: cognito-lambdas
          path: build/

      - name: Generate handler name
        run: |
          # Replace hyphens with underscores for valid Python module names
          matrix_lambda=${{ matrix.lambda }}
          matrix_lambda_safe=${matrix_lambda//-/_}
          echo "LAMBDA_HANDLER_NAME=src.controllers.${matrix_lambda_safe}.lambda_handler" >> $GITHUB_ENV

      - name: Deploy Lambda Function
        uses: aws-actions/aws-lambda-deploy@v1.1.0
        with:
          function-name: user-management-${{ matrix.lambda }}
          code-artifacts-dir: build
          s3-bucket: ${{ secrets.AWS_S3_BUCKET }}
          s3-key: "${{ github.event.repository.name }}/${{ matrix.environment }}/${{ matrix.lambda }}.zip"
          publish: true
          handler: ${{ env.LAMBDA_HANDLER_NAME }}
          runtime: python3.13
