name: Python Checks on PR

on:
  pull_request:
    branches:
      - main
    paths:
      - "src/**.py"

jobs:
  python-checks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "poetry"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install --no-interaction --no-ansi

      - name: Check linting with Ruff
        run: |
          ruff check .

      - name: Run Python tests
        run: |
          python -m coverage run -m unittest discover -s src -p "*_test.py"

      - name: Report coverage
        run: |
          python -m coverage report
          python -m coverage html

      - name: Check coverage threshold
        run: python coverage_check.py

      - name: Upload coverage HTML coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-html
          path: htmlcov/
